dash==0.39.0
dash-bootstrap-components==0.3.4
dash-core-components==0.44.0
dash-html-components==0.14.0
docker==3.3.0
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.3.2
notebook==5.7.4
plotly==3.6.1
psutil==5.5.1
python-dateutil==2.8.0
pytz==2018.9
