<div class="modal fade" id="kill{{ x.id }}" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
		<h4 class="modal-title">are you sure?</h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/killSession" method="POST">
                        <div class="form-group">
                                <input type="hidden" id="kill-docker-id" name="docker_id" value="{{ x.id }}">
                                <input type="hidden" id="kill-pw-hash" name="pwhash" value="{{ x.pwhash }}">
                                <input type="password" id="kill-password" name="password" class="form-control form-control-sm" placeholder="enter password">
                        </div>
			<div class="form-row align-items-center">
			<div class="col">
			    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">run away!</button>
                	</div>
			<div class="col">
			    <button type="submit" class="btn btn-danger btn-block" id="kill_submit" name="kill session">DESTROY!</button>
			</div>
			</div>
                </form>
            </div>
        </div>
    </div>
</div>
