<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/gif" href="{{ url_for('static', filename='sonic.gif') }}">
        <title>gpu session launcher</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
        <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" 
          integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" 
          crossorigin="anonymous" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" 
          integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" 
          crossorigin="anonymous"></script>
        <style type="text/css">
                .datepicker {
                    font-size: 0.875em;
                }
                .datepicker td, .datepicker th {
                    width: 1.5em;
                    height: 1.5em;
                }

        </style>
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="{{ url_for('home.index') }}">gpu session launcher</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.dashboard') }}">Dashboard</a>
              </li>
              {% if not current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.logout') }}">Logout</a>
              </li>
              {% endif %}
            </ul>
            {% block datepicker %}{% endblock %}
          </div>
        </nav>
        {% endblock %}

        <div class="container">
            <div id="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                <div class="{{ category }} alert-dismissible fade show" style="text-align: center" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
